li {
  list-style: none;
}

.select-button-wrapper {
  background-color: inherit;
  color: inherit;
  border: none;
  text-align: start;
}

.title-style {
  font-size: 16px;;
}
.owner-style {
  font-size: 12px;
}

/* .select-button-wrapper {
  display: flex;
} */
