li {
  list-style: none;
}

.select-button-wrapper {
  background-color: inherit;
  color: inherit;
  border: none;
  text-align: start;
}

.selected {
  border-left:4px solid rgb(229, 206, 54);
}

.title-style {
  font-size: 16px;;
}
.owner-style {
  font-size: 12px;
}