.boards-container {
  height: 100%;
  width: 100%;

  background-color: rgba(92, 58, 32, 0.35);
  
  background:
  linear-gradient(
    140deg,
    rgba(44, 27, 15, 0.82) 0%,
    rgba(58, 36, 20, 0.62) 40%,
    rgba(58, 36, 20, 0.30) 100%
  ),
  linear-gradient(
    180deg,
    rgba(255, 235, 210, 0.28) 0%,
    rgba(255, 235, 210, 0.12) 35%,
    rgba(255, 235, 210, 0.00) 100%
  );
  border-radius: 18px;
  box-sizing: border-box;
  border: 2px solid #835C3E;
}

.board-header{
  color: rgba(255, 255, 255, 0.87);
}

.boards-container .board-header {
  margin: 0;
}

.boards-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0.75rem;
  padding: 15px;
  gap: 1rem;
  border-bottom: 2px solid #835C3E;
}

.boards-icon { 
  width: 1rem;
  height: 1rem;
}

.board-items {
  line-height: 2rem;
  max-height: calc(100% - 48px);
  overflow-y: auto;
  padding: 0px;
}