.app {
  display: grid;
  grid-template-columns: 260px 1fr;
  min-height: 100vw; 
  background-image: url(assets/corkboard-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.board-writing {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

h1 {
  margin: 0;
  text-align: center;
}


