.app {
  display: grid;
  grid-template-columns: 260px 1fr;
  min-height: 100vw; 
  background-image: url(assets/corkboard-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.board-writing {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
}

h1 {
  margin: 0;
  text-align: center;
}

.left-writing, .right-writing {
  color: black;
  background-color: bisque;
  padding: 0.5rem 1rem;
  margin-block: 1rem;
}

.left-writing {
  transform: rotate(-3deg);
}

.right-writing {
  transform: rotate(3deg);
}


