.app {
  display: grid;
  grid-template-columns: 260px 1fr;
  min-height: 100vw; 
  background-image: url(assets/corkboard-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  margin: 0;
  text-align: center;
}

.board-writing {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
}

.left-writing, .right-writing {
  color: black;
  background-color: bisque;
  padding: 0.5rem 1rem;
  margin-block: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.55);
}

.left-writing {
  transform: rotate(-3deg);
}

.right-writing {
  transform: rotate(3deg);
}


.selected-board-banner {
  color: black;
  background-color: bisque;
  width:fit-content;
  margin: 0 auto; 
  padding-inline: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.55);
  border-radius: 10px;
}

.banner-owner {
  font-size: 14px;
}
